<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tuhvatshin_autoservisEntities" connectionString="metadata=res://*/TuhvatshinModel.csdl|res://*/TuhvatshinModel.ssdl|res://*/TuhvatshinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-7;initial catalog=Tuhvatshin_autoservis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>